.questions {
  padding: 0 0 5px 5px;
  background-color: #eec27520;
  border: 1px solid;
  border-color: #eec275;
  border-radius: 4px;
  margin: 15px 5px 10px 0;
}
.questions h4 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  background: linear-gradient(to bottom, #eec275, #f0c883);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(rgb(238, 194, 117), rgb(240, 200, 131));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
  border-color: #eec275;
  margin-top: 0px;
  margin-left: -5px;
}