.questions {
  padding: 0 0 5px 5px;
  background-color: #eec27520;
  border: 1px solid;
  border-color: #eec275;
  border-radius: 4px;
  margin: 15px 5px 10px 0;
}
.questions h4 {
  background-color: #f0c883;
}